# Игнорировать директорию node_modules
node_modules/

# Игнорировать файлы конфигурации среды
.env
.prod.env
.dev.env

# Игнорировать лог-файлы
logs/
*.log

# Игнорировать временные файлы операционной системы
.DS_Store
Thumbs.db

# Игнорировать директорию build
build/

# Игнорировать файлы IDE/редакторов
.vscode/
.idea/
*.swp

session.txt
